html, body, #root {
   min-height: 100vh;
   margin: 0;
   padding: 0;
}

#root {
   background: linear-gradient(90deg, rgb(68 0 0) 0%, rgb(167 1 1) 100%);
}

::-webkit-scrollbar {
   display: none;
}

img {
   border-radius: 4px;
}

.title {
   display: flex;
   justify-content: flex-start;
   padding-left: 10px;
}
.titleAnimated::before {
   display: flex;
   justify-content: flex-end;
   content: 'Frontend ';
   animation: bideTime 5s linear infinite;
}
@keyframes bideTime {
   0% {
     content: "Frontend "
   }
   25% {
     content: "Backend "
   }
   50% {
     content: 'Fullstack '
   }
   75% {
     content: 'Application '
   }
   100% {
     content: 'Frontend '
   }
 }
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');