html, body, #root {
   min-height: 100vh;
   margin: 0;
   padding: 0;
}

#root {
   background: linear-gradient(90deg, rgba(68,69,29,1) 0%, rgba(44,27,56,1) 50%, rgba(61,0,0,1) 100%);
}

::-webkit-scrollbar {
   display: none;
}

img {
   border-radius: 4px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');