html, body, #root {
   height: 100%;
   margin: 0;
   padding: 0;
}

::-webkit-scrollbar {
   display: none;
}



@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');